name: pixel-cyclenet
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults

dependencies:
  - python=3.10
  - pip
  - setuptools
  - wheel
  - pyyaml
  - pytorch
  - torchvision
  
  - pip:
    - -e .