# =========================
# Run
# =========================
run:
  name: "unet_augs_split"
  runs_dir: "/develop/code/runs/unet"

  resume:
    enable: 0
    ckpt_name: null

  seed: 42

# =========================
# Training
# =========================
train:
  steps: 200000
  batch_size: 64
  lr: 1e-4
  weight_decay: 0.01
  ema_decay: 0.9999

# =========================
# Model
# =========================
model:
  base_ch: 128
  t_dim: 512
  d_dim: 128
  ch_mults: [1,2,4,4]

  num_res_blocks: 2
  enc_heads: [0,0,0,4]
  mid_heads: 4

  res_dropout: 0.05
  attn_dropout: 0
  ffn_dropout: 0

# =========================
# Dataset
# =========================
data:
  src_dir: /cgi/data/nvesd/workspaces/logan/data/ehd_organized/RGB_Filtered/train/sim
  tgt_dir: /cgi/data/nvesd/workspaces/logan/data/ehd_organized/RGB_Filtered/train/real
  image_size: 224
  transform_id: 2

# =========================
# Diffusion
# =========================
diffusion:
  schedule: linear
  T: 1000
  beta_start: 0.0001
  beta_end: 0.02
  s: 0.008
  target: eps

# =========================
# Logging
# =========================
logging:
  loss_interval: 10
  ckpt_interval: 10000
  sample_interval: 5000

  sample:
    shape: [3, 224, 224]
    sampler: ddim
    ddim_steps: 100
    eta: 0
    num_samples: 16