# =========================
# Run
# =========================
run:
  name: "unet"
  runs_dir: "./runs"
  resume:
    enable: 0
    ckpt_name: null

# =========================
# Training
# =========================
train:
  steps: 500000
  batch_size: 128
  lr: 2e-4
  weight_decay: 1e-4
  ema_decay: 0.9999

# =========================
# Model
# =========================
model:
  base_ch: 128
  t_dim: 512
  d_dim: 128
  ch_mults: [1,2,2,2]

  num_res_blocks: 2
  enc_heads: [0,1,0,0]
  mid_heads: 1

  res_dropout: 0
  attn_dropout: 0
  ffn_dropout: 0

# =========================
# Dataset
# =========================
data:
  src_dir: 
  tgt_dir: 

  src_label: 
  tgt_label: 

# =========================
# Diffusion
# =========================
diffusion:
  schedule: linear
  T: 1000
  beta_start: 0.0001
  beta_end: 0.02
  s: 0.008
  target: eps

# =========================
# Logging
# =========================
logging:
  loss_interval: 10
  ckpt_interval: 50000
  sample_interval: 10000

  sample:
    shape: [3, 256, 256]
    sampler: ddpm
    ddim_steps: 100
    eta: 0
    num_samples: 16




















